/*62.5% of 16px =10 px */
html {
  font-size: 62.5%;
}
:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-shadow: #ddd;
  --border-radius: 10px;
  --color-font: #fff;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.2rem;
}
h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1.5rem;
}
h1 {
  font-size: 8rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 7rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}
p {
  margin-top: 0;
}
/* links */
.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-weight: 700;
}
.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: 0.2s;
}
.link-arrow:hover::after {
  margin-left: 10px;
}
@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}
/* Badge  started*/
.badge {
  border-radius: 2rem;
  color: #fff;
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
}
.badge--secondary {
  background-color: var(--color-secondary);
}
.badge--small {
  font-size: 1.6rem;
}
.badge--primary {
  background-color: var(--color-primary);
}
@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}
/* Badge  ended*

/* Lists */
.list {
  color: var(--color-headings);
  font-size: 2rem;
}
.list--inline {
  list-style-type: circle;
}

.list--inline .list__item {
  margin-right: 2rem;
  font-weight: 700;
  /* font-size: 2rem; */
  display: inline-block;

  /* list-style-type: circle; */
}

.list--tick {
  list-style-image: url(../icons/tick.svg);
  padding-left: 2rem;
}
.list--tick .list__item {
  margin-bottom: 2rem;
  padding-left: 1.5rem;
}
@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* icons */
.icon {
  height: 90px;
  width: 90px;
}
.icon--primary {
  fill: var(--color-primary);
}
.icon-container {
  background-color: var(--color-body);
  height: 100px;
  width: 100px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* button */
.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  padding: 2rem 3rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn--primary {
  background: var(--color-primary);
  color: #fff;
}

.btn--primary:hover {
  background: #3a8ffd;
}

.btn--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.btn--secondary:hover {
  background: #05cdf0;
}

.btn--accent {
  background: var(--color-accent);
  color: #fff;
}

.btn--accent:hover {
  background: #ec3000;
}
.btn--outline {
  background: #fff;
  color: var(--color-headings);
  border: 2px solid var(--color-headings);
}

.btn--outline:hover {
  background: var(--color-headings);
  color: #fff;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* input start here */
.input {
  /* width: 100%; */
  padding: 1.5rem 5rem 1.5rem 2rem;
  border-radius: 30px;
  /* box-shadow: 0 20px 30px 20px rgb(228, 224, 224); */
  color: var(--color-accent);
  outline: 0;
  font-size: 1.5rem;
}
::placeholder {
  font-size: 1.5rem;
}
.input-group {
  box-shadow: 0 10px 30px #ccc;
  display: flex;
  border-radius: 30px;
  margin: 0 1rem;
  margin-top: 2rem;
}
.input-group .input {
  flex-grow: 1;
  border: 0;
}
.input-group button {
  margin: 4px;
}
button img {
  width: 2rem;
  height: 1.5rem;
  margin-right: 5px;
}

.card {
  border-radius: var(--border-radius);
  box-shadow: 5px 5px 30px 3px var(--color-shadow);

  width: 49rem;
  margin: 2rem;
  overflow: hidden;
}
.card--primary {
  background-color: var(--color-primary);
}
.card--secondary {
  background-color: var(--color-secondary);
}
.plan__name {
  color: var(--color-font);
  font-size: 2.4rem;
  font-weight: 500;
}
.plan__pricing {
  font-size: 5rem;
  color: var(--color-font);
}
.plan__cycle {
  font-size: 2.4rem;
  color: var(--color-font);
  opacity: 0.7;
  margin-right: 0.5rem;
}
.plan__description {
  font-size: 2rem;
  color: var(--color-font);
  opacity: 0.7;
  margin: 1rem 0 0 0;
}
.card .list {
  margin: 1.5rem 0;
}
.card header {
  padding: 2rem;
  position: relative;
}
.card-body {
  padding: 3rem;
}
header img {
  width: 100px;
  border-radius: var(--border-radius);
  display: inline-block;
  position: absolute;
  right: 5%;
  top: -3px;
}

/* .btn-container {

  border: 5px solid var(--color-headings);
  height: 40vh;
  display: flex;
  flex-direction: column;

  justify-content:center;
  align-items: center;
  background-color: var(--color-headings); 
}
.btn {
  border-radius: 30px;
  padding: 1rem 0;

  text-align: center;
}
.btn--secondary {
  background-color: var(--color-accent);
}
.btn--primary {
  background-color: var(--color-primary);
}
.btn--block {
  width: 50%;
  display: block;
}
a {
  text-decoration: none;
  text-transform: uppercase;
}
.btn:hover {
  cursor: pointer;
  background: var(--color-secondary);
}
.btn:hover > a {
  color: #fff;
} */
